body {
    background: #e8eaed;
}

.novo-header {
    background: url("/legislaqui/imagens/base_superior.jpg") repeat-x;
}

.refresh-cache.pull-right {
    padding-top: 30px;

    i {
        color: #1d2d52;
        font-size: 40px;
        &:hover {
            color: #535E7F;
        }
    }
}


li.pai {
    margin-top:-2px !important;
}

.redes_sociais {
    height: 30px;
    .logotipo_redes {
        height: 30px;
        margin-right: 10px;
        &:last-of-type{
            margin-right: 0;
        }
    }
}




@media only screen and (max-width: 496px) {
    .titulo-portal {
        h1 {
            font-size: 1.7rem;
        }

    }

    .refresh-cache.pull-right i {
        color: #1d2d52;
        font-size: 20px;
    }

}

.categorias {
    .card {
        margin-bottom: 20px;
    }
}


.categorias {

    .card {
        background: #e9ead7;
        transition: all 0.2s ease;
        border: 3px solid #b7ba8f;
        margin-top: 10px;
        box-sizing: border-box;
        border-radius: 5px 5px 0 0;
        background-clip: padding-box;
        padding: 5px;
    }

    .card-header {
        padding: 0;
    }

    h3.tag-title {
        font-size: 20px;
        padding-top: 15px;
    }

    .icones-tranparencia {
        margin: 6px 0 0 0  !important;
    }

    .card-body {
        padding: 0;

        .itens-transparencia{
            height: 302px;
            margin-top: 5px;
        }
    }
}


.accordion-alerj {

    .card {
        border: 3px solid #b7ba8f;
        background: #b7ba8f;
        margin-bottom: 10px;
        .card-header {
            background: #b7ba8f;
            padding: 0.1rem;
            border-bottom: 0px solid;

            .btn-link {
                font-weight: 800;
                color: #fff;
                text-decoration: none;
                font-size: 24px;
            }
        }
        .card-body {
            background: #e9ead7;
        }
    }
}


.btn-secondary {
    color: #fff;
    background-color: #1d2d52 !important;
    border-color: #1d2d52 !important;
    text-transform: uppercase;

    &:hover {
        background: #334263 !important;
    }

}

